<body>
    <h1>All Students</h1>
    <ul>
      <% students.forEach(function(s) { %>
        <li>
          <%= s.student %>
            - 
          <%= s.pass ? 'pass' : 'fail' %>
        </li>
      <% }); %>
    </ul>
  </body>